__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so


.pytest_cache/
.coverage
coverage.xml
htmlcov/
.tox/


.venv/
venv/
env/


build/
dist/
*.egg
*.egg-info/
pip-wheel-metadata/


.env
.env.*
!.env.example


*.sqlite
*.sqlite3
*.db
*.db-journal
.database-pg/


*.log
logs/
*.tmp
*.bak
*.swp
*.swo


.vscode/
.idea/
*.sublime-project
*.sublime-workspace
